body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(106, 205, 255);
  padding: 20px;
}
a{
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 0 50px;
}
.buttonSave{
  margin-left: 50px;
  margin: 0 7px;
  background-color: white;
  border-radius: 10px;
  padding: 7px;
  color:black;
  cursor: pointer;
  border: 1px solid rgb(41, 88, 170);
  font-size: 24px;
  transition: all 0.2s ease-out;
}
.buttonSave:hover{
  background-color: rgb(22, 64, 136);
  transition: all 0.2s ease-out;
  color: white
}
.buttonKeyboardWrapper{
  padding: 0px 5px 5px;
  border: 1px solid rgb(34, 14, 156);
  margin: 5px 0px;
  border-radius: 10px;
}
.buttonKeyboardHeader{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.channels{
  display: flex;
  justify-content: center;
}
.channel-item{
  background-color: white;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  margin: 0 10px;
  height:fit-content;
  min-height: 505px;
}
.textareaCustom{
  resize: vertical;
   width: -webkit-fill-available;
   font-size: 15px;
    font-family: 'Arial';
}
.addChannel{
  display: flex;
  padding: 10px 5px;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  background-color: white;
}

.addChannel-title{
  margin: 0 10px;
}
.addChannel-item{
  margin: 0 7px;
  background-color: rgb(41, 88, 170);
  border-radius: 10px;
  padding: 7px;
  color:white;
  cursor: pointer;
}
.addChannel-item:hover{
  background-color: rgb(22, 64, 136);
  transition: background-color 0.2s;
}
.keyboard-buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.buttton-for-keyboard{
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  width: 49%;
  height:40px;
  background-color: rgb(41, 88, 170);
  color:white;
  align-items: center;
  justify-content: center;
  display: flex;
}
.buttton-for-keyboard:hover{
  background-color: rgb(22, 64, 136);
  transition: background-color 0.2s;
  cursor: pointer;
}